/* Propios de CSS */
:root {
    --bg-principal: #F7F7F7;
    --verde-esmeralda: #2E8B57;
    --amarillo-mostaza: #FFD700;
    --marron-claro: #8B4513;
    --texto-principal: #333333;
    --texto-secundario: #666666; 
}
body {
  background-image: url('../Images/Dashboard/FondoHTML.png');
  background-repeat: repeat;
  background-color: var(--bg-principal);
}
h1, h2, h3, .brand-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Estilos Navbar */
.navbar{
    background-color: var(--verde-esmeralda);
}
.navbar-nav {
    margin: 0 auto; 
}

/* Estilos Aside */
.admin-container {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    padding: 10px;
    width: 250px;
    background: var(--verde-esmeralda);
    color: var(--texto-principal);
    position: sticky;             
}
.sidebar a {
        color: var(--texto-principal);
        text-decoration: none;
}
ul li{
  list-style: none;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}


.section-dashboard{
  padding: 15px;
  text-align: center;
}
.dashboard-active{
  background-color: var(--amarillo-mostaza);  
  border-radius: 5px;
}
p {
    color: var(--texto-secundario);
    line-height: 1.6;
}



.footer {
    background-color: var(--verde-esmeralda);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

