body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/login/verduras-login.jpeg");
    background-size: cover;
    background-position: center;
}
/* Alinear label de región con los otros labels */
.region-group {
    display: flex;
    flex-direction: column;
}
.region-group label {
    margin-bottom: 4px;
}
.region-group .input-group {
    width: 100%;
}
.region-scroll {
    max-height: 200px;
    overflow-y: auto;
    
}
.btn-region {
    color: white;
    background-color: #2E8B57;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-region[type="button"]:hover{
    background-color: #073c13;

}
html, body {
    height: 100%;
}
footer {
    margin-top: auto;
    width: 100%;
    flex-shrink: 0;
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 5px solid #0eaa15a1;
    border-radius: 10px;
    background-image: url("../Images/Productos/FondoHTML.png");
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
    
}
.was-validated small{
    
    display: block red;
}
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
button[type="submit"] {
    background-color: #2E8B57;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #073c13;
}
label,p  {
    color: rgb(4, 120, 12);

}
.title {
    text-align: center;
    margin-bottom: 2px;
    font-size: 25px;
    color: rgb(4, 120, 12);
}
form span {
    display: block;
    margin-bottom: 5px;
}
a {
    color: #2E8B57;
}
a:hover {
    color: #7ddf04;
}